body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stockCardParent {
  display:flex;
  height:50vh;
  width:50vw;
  overflow:scroll;
  order:5;
  justify-content: space-around;
}

.stockCard {
  border:5px solid black;
  width: 15vw;
  height: 25vh;
}

